.header{
    margin:2rem 0 3rem 0;
    text-align: center;
}
.closeButton{
    width:14rem;
    height: 3rem;
    border-radius: 5px;
    background-color: rgb(187,45,59);
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: none;


}